<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">SecureAssess</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/members">Applicants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/companies">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages">Messages</a>
        </li>
      </ul>
      <div class="dropdown" *ngIf="member" dropdown>
        <a
          class="dropdown-toggle text-light text-decoration-none"
          dropdownToggle
          ><img
            [src]="member.photoUrl"
            alt=""
            width="32"
            height="32"
            class="rounded-circle me-2"
          />
          {{ emailAddress | titlecase }}
        </a>
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item">Edit Profile</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container" style="margin-top: 100px">
  <router-outlet></router-outlet>
</div>
